body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-myBlue {
  background-color: rgb(58, 139, 238)
}

.right-aligned {
  justify-content: flex-end;
}

.splashPic {
  height: 90vh;
  background: url(https://i.imgur.com/xgVZApD.jpg) no-repeat center center fixed;
  background-size: cover;
}

.splashPicMed{
  height: 90vh;
  background: url(https://i.imgur.com/MqwryZs.jpg) no-repeat center center fixed;
  background-size: cover;
}

.splashPicAnt{
  height: 90vh;
  background: url(https://i.imgur.com/8GNl1k2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.splashPicCar{
  height: 90vh;
  background: url(https://i.imgur.com/8GNl1k2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.splashPicInd{
  height: 90vh;
  background: url(https://i.imgur.com/DbFtY2L.jpg) no-repeat center center fixed;
  background-size: cover;
}

.splashPicFar{
  height: 90vh;
  background: url(https://i.imgur.com/GuCXXQY.jpg) no-repeat center center fixed;
  background-size: cover;
}

.splashPicMis{
  height: 90vh;
  background: url(https://i.imgur.com/jqkOCKa.jpg) no-repeat center center fixed;
  background-size: cover;
}

.boats {
  padding: 20px;
  height: 250px;
  opacity: 100%;
  color: rgb(246, 244, 244);
  background-color: gray !important;
  background: transparent;
 
}


.sticky-nav {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading {
  color: rgb(70, 203, 179);
  font-size: 25px;
}

.underline {
  height: 5px;
  width: 4rem;
  background-color: blue;

}




